/* styles.css */

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #555;
  font-weight: 600;
}

tr:hover {
  background-color: #fafafa;
}

.table-button {
  background-color: transparent;
  border: 0px; /* optional: keeps the button visible */
}
